name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint
        run: make lint

  winchecksec:
    strategy:
      matrix:
        build-type: ["Debug", "Release"]
        platform: ["ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Restore from cache and install vcpkg
        uses: lukka/run-vcpkg@v2
        with:
          vcpkgGitCommitId: 422fb5df87f6ae2d01a6ccdca7211a54c0e88fa1
          vcpkgArguments: pe-parse
      - name: build
        run: |
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
            -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake \
            ..
          cmake --build .

  winchecksec-windows:
    strategy:
      matrix:
        build-arch:
          - { arch: "x64", triplet: "x64-windows" }
          - { arch: "Win32", triplet: "x86-windows" }
        build-type: ["Debug", "Release"]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Restore from cache and install vcpkg
      uses: lukka/run-vcpkg@v2
      with:
        vcpkgGitCommitId: 422fb5df87f6ae2d01a6ccdca7211a54c0e88fa1
        vcpkgArguments: pe-parse
        vcpkgTriplet: ${{ matrix.build-arch.triplet }}
    - name: build
      shell: bash
      run: |
        mkdir build
        cd build
        cmake \
          -G "Visual Studio 16 2019" \
          -A ${{ matrix.build-arch.arch }} \
          -DVCPKG_TARGET_TRIPLET=${{ matrix.build-arch.triplet }} \
          -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake \
          ..
        cmake --build . --config ${{ matrix.build-type }}

